// Greene Realty LLC 2019 color guide:
$primary-blue: #0b4fed;
$accent-blue: #3464d4;
$primary-red: #940031;
$accent-red: #7b1939;
$primary-green: #004f11;
$secondary-green: #009421;
$accent-green: #3C5233;
$main-grey: #666666;
$stone-grey: #515052;
$accent-grey: #8c8c8c;
$primary-tan: #f5f0e781;
