body{
  color: #505962;
  overflow-x: hidden;
}

body::-webkit-scrollbar { width: 0 !important }

.offset:before{
  display:block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigation */

/* ul, li */
.navbar-nav li{
  padding-right: .7rem;
}

/* Landing Page */

.home-inner{
  background-color: black;
  background-image: url('../assets/logos/logo-watermark.png');
  margin-top: 5em;
}
/* btn */
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary {
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  border-width: medium;
  border-radius: 0;
  color: white;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
}
  .btn-secondary:hover,
  .btn-secondary:focus {
    border-color: #189582;
    background-color: #189582;
  }

/* ======= Features ======= */
.jumbotron{
  border-radius: 0;
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  background-color: white;
}
h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

/* icons */

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p{
  font-size: 1.1rem;
}

/* ===== Resources Section ========= */

.fixed{
  background-image: url('../assets/img/house.jpg');
  z-index: -1;
}
  /* section tint */
  .dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem 0em;
  }

.fixed-background h3{
  margin-bottom: 2rem;
}
.fixed-background p{
  color: black;
  margin-top: 1.5rem;
}

/* ======= Client/Testimonial Section ========= */
blockquote .svg-inline--fa {
  color: #1ebba3;
  margin: 1rem;
}
.clients-hr {
  border-top: .05rem solid #1ebba3;
}

/* ========== contact section ========== */
footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
/*  footer icon */
footer img{
  height: 5rem;
  margin: 1.5rem 0;
}
footer a{
  color: white;
}
footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
  footer svg.svg-inline--fa:hover{
    color: #1EBBA3 !important;
  }

hr.socket{
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;

}

/* ============= MEDIA QUERIES =========== */
@media (max-width: 767px) {
.caption h1{
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.caption h3{
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
/* btn */
.btn-lg{
  padding: .5rem 1rem;
  font-size: 1rem;
}
/* narrow titles */
.narrow h1 {
  font-size: 1.5rem;
}
}
.offset:before{
  display:block;
  content: "";
  height: 4rem;
  margin-top: -4rem;  
}

/* Bootstrap Padding Fix */
[class*='col-1']{
  padding: 1rem;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/