<!DOCTYPE html>
html(lang="en")
  include includes/head
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  body(data-spy='scroll' data-target='#navbarResponsive')
    include includes/variables
    include includes/components/navigation
    include includes/pages/reference
    //- include includes/components/title
    //- include includes/components/navigation
    //- include includes/pages/about
    //- include includes/pages/testimonial
    //- include includes/pages/services
    //- include includes/pages/bio
    //- include includes/pages/footer
    //- include includes/scripts