//- ====== LANDING IMAGE SECTION =======
.container-fluid.p-0
  section.portfolio-section.p-2.pb-1.p-lg-5.d-flex.align-items-center#about
    .col-12
      h1.main-title.mb-0 BEN
        span.text-primary.d-block.d-md-inline.mt-3.ml-md-3 GAUBERT
      .subheading.mb-5.mt-3.ml-1.mr-auto
        .row.ml-2
          .col-12.col-md-6.col-xl-4.p-0.mr-0
            .row.align-items-center
              i(class=envelope_icon)
              span.caption.ml-2 bengaubert@greenerealty.com
          .col-12.col-md-6.col-xl-4.p-0.mr-0
            .row.align-items-center
              i(class=phone_icon) 
              span.caption.ml-2.text-primary (360) 485-3711
      p.main-text.mb-0 Distinct natural beauty and a community second to none make Olympia an amazing place to call home. No matter what your path or where you're from, I can help achieve your real estate goals with confidence and peace of mind. Local flavor with endless options. Achieving your real estate goals through relationships built on trust and communication.
  include ../components/icon-row