.portfolio-section#bio
  h2.section-title.p-2.mt-5.ml-3.ml-md-5 meet 
    span.text-primary.d-inline.d-md-inline.mt-3 Ben
  h3.sub-title.mt-3.mb-0.ml-3.ml-md-5.p-2 LIFE IN OLYMPIA
  .row.m-5
    .col-12.col-md-8.col-xl-4.p-0.m-auto
      .card.mt-3
        h4.sub-heading.p-3 Fishing
        img(src="../styles/assets/img/fishing.jpg", alt="")
        p.main-text.p-3.p-xl-5 I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout
    .col-12.col-md-8.col-xl-4.p-0.m-auto
      .card.mt-5.mt-xl-3
        h4.sub-heading.p-3 Cooking
        img(src="../styles/assets/img/fishing1.jpg", alt="")
        p.main-text.p-3.p-xl-5 I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout
    .col-12.col-md-8.col-xl-4.p-0.m-auto
      .card.mt-5.mt-xl-3
        h4.sub-heading.p-3 Community
        img(src="../styles/assets/img/fishing2.jpg", alt="")
        p.main-text.p-3.p-xl-5 I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout I love fishing for trout
