#home
  // Nav
  // Landing Page
  .landing
    .home-wrap
      .home-inner
  .caption.text-center
    img(src='../styles/assets/logos/logo.png')
    h3 Real Estate Services
    a.btn.btn-outline-light.btn-lg(href='#course') View Listings
// Start Course Section
#course.offset
  .col-12.narrow.text-center
    h1 Client First Brokerage Services
    p.lead  Lorem Ipsum The Very Best Serving Olympia, WA 
    a.btn.btn-secondary.btn-md(href='#' target='_blank') Get In Touch
// End Course Section
// Start Features Section
#features.offset
  // Jumbotron
  .jumbotron
    .narrow.text-center
      .col-12
        h3.heading Services
        .heading-underline
      .row.text-center
        .col-md-4
          .feature
            i.fas.fa-play-circle.fa-4x(data-fa-transform='shrink-3 up-5')
            h3 At Your Service
            p  Lorem Ipsum The Very Best Serving Olympia, WA 
        .col-md-4
          .feature
            i.fas.fa-sliders-h.fa-4x(data-fa-transform='shrink-4.5 up-4.5')
            h3 Market Analysis
            p
              | Lorem Ipsum The Very Best Serving Olympia, WA Lorem Ipsum The Very Best Serving Olympia, WA
        .col-md-4
          .feature
            i.fab.fa-wpforms.fa-4x(data-fa-transform='shrink-4 up-5')
            h3 Market Analysis
            p
              | The Very Best Serving Olympia, WA Lorem Ipsum The Very Best Serving Olympia, WA
      // End Row
    // End Narrow
// End Features Section
// Start Resources Section
#resources.offset
  // Fixed Bg
  .fixed-background
    .row.dark.text-center
      .col-12
        h3.heading Built With Care
        .heading-underline
      .col-md-4
        h3 Sales
        .feature
          i.fas.fa-code.fa-3x
        p.lead An Unmatched attention to detail
      .col-md-4
        h3 Consultation
        .feature
          i.fas.fa-code.fa-3x
        p.lead An Unmatched attention to detail
      .col-md-4
        h3 Management
        .feature
          i.fas.fa-code.fa-3x
        p.lead An Unmatched attention to detail
    .fixed-wrap
      .fixed
// End Resources Section
// Start Clients Section
#clients.offset
  // jumbotron
  .jumbotron
    .col-12.text-center
      h3.heading Clients
      .heading-underline
    .row
      .col-md-6.clients
        .row
          // img
          .col-md-4
            img(src='../styles/assets/img/client1.png')
          // caption
          .col-md-8
            blockquote
              i.fas.fa-quote-left
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.
              hr.clients-hr
              cite &mdash; Lisa Redfern, Home buyer
      .col-md-6.clients
        .row
          // img
          .col-md-4
            img(src='../styles/assets/img/client1.png')
          // caption
          .col-md-8
            blockquote
              i.fas.fa-quote-left
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9; Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA Lorem Ipsum the very best in Olympia, WA.
              hr.clients-hr
              cite &mdash; Lisa Redfern, Home buyer
  // End Jumbotron
  .col-12.narrow.text-center
    p.lead
      | Let&apos;s talk about how we can accomplish your real estate goals
    a.btn.btn-secondary.btn-md(href='#' target='_blank') Get In Touch
// End Clients Section
// Start Contact Section
#contact.offset
  footer
    .row.justify-content-center
      .col-md-5.text-center
        img(src='../styles/assets/logos/logo.png')
        p
          | Let&apos;s talk about how we can accomplish your real estate goals, Lorem Ipsum all day I love Olympia and my service is unmatched
        strong Contact Info
        p
          | Phone
          br
          | Email
        a(href='#' target='_blank')
          i.fab.fa-facebook-square
        a(href='#' target='_blank')
          i.fab.fa-instagram
        a(href='#' target='_blank')
          i.fab.fa-twitter-square
      // footer signature
      hr.socket
      | &#x9;&#x9;&copy; Made By Michael.
// End Contact Section
// - Script Source Files
// - End of Script Source Files
