#services.offset.pt-5.pb-5
  .row.justify-content-center
    h3.sub-title Services
  .row.justify-content-center
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=house_icon data-fa-transform='shrink-4.5')
      h3 Home Inspection
      .row.justify-content-center
        .col-10
          p.sub-text Buying a home is one of life’s most important investments. That’s why a professional home inspection is crucial to understand the risks, dangers, and defects before buying a property. We provide InterNACHI certified expertise, delivering comprehensive inspection reports that provide the knowledge to empower an informed decision.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=paperplane_icon data-fa-transform='shrink-4.5')
      h3 Wind Mitigation Inspection
      .row.justify-content-center
        .col-10
          p.sub-text We’ll examine a home’s existing ability to withstand a windstorm and provide recommendations for improvements in wind-resistance. Our detailed wind-mitigation reports can help lower your homeowner’s insurance and prioritize your next steps in home improvement.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475
    .col-10.col-md-8.col-lg-3.card.ml-3.mr-3.text-center
      i.ml-auto.mr-auto(class=page_icon data-fa-transform='shrink-4.5')
      h3 4-Points Inspection
      .row.justify-content-center
        .col-10
          p.sub-text Four point inspections provide a snapshot of a property’s condition by focusing on the home’s main components. Less rigorous than a full home inspection, the Four point service is an easy way to get a qualified inspection that meets the requirements of most insurance companies in North Florida.
          button.btn-secondary Price Line $375
          button.btn-secondary Price Line $475