.portfolio-section.mt-5#testimonial  
  h2.section-title.p-2.ml-3.ml-md-5 People 
    span.text-primary.d-inline.d-md-inline.mt-3 First
  h3.sub-title.mt-5.ml-3.ml-md-5.p-2 TESTIMONIALS
  .row.align-items-center
    .col-10.col-md-6.col-lg-4.ml-auto.mr-auto.order-1
      include ../components/quote-carousel
    .col-10.col-md-6.ml-auto.mr-auto.mb-0.pb-0.order-2
      img(src="../styles/assets/img/family.png", alt="")