@import '../base/image-style-extends';
// Theme Styling (Reusable)
#home{
  .text-primary{
    color: $stone-grey!important;
  }
  .text-content{
    margin-top: 2em;
  }
  // img container
  .home-img-wrap{
    img{
      width: 100%;
    }
    .svg-inline--fa{
      color: $white;
      height: .45em;
      margin-bottom: 4px;
      margin-right: 3px;
      margin-left: 2px;
      opacity: 0.8;
    }
  }
  .home-logo-wrap{
    img{
      width: 100%;
    }
  }
}
.subheading{
  .row{
    margin-top: .5em;
  }
  .svg-inline--fa{
    display: inline;
    position: relative;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.11);
    color: $primary-green;
    padding: 8px;
    font-size: .9375rem;
  }
}
#icons{
  padding-top: 0em!important;
}
