@import '../bootstrap/scss/functions';
@import '../bootstrap/scss/variables';
@import '../bootstrap/scss/mixins';
@import 'variables';

// Reset & Dependencies
@import "../bootstrap/scss/print";
@import '../scss/base/base';

// ====== DEVELOPMENT STYLES GO HERE:
#bio{
  .card{
    img{
      @extend %landing-img-style;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
    }
  }
}

.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;

  h1 {
    font-size: 2.4rem;
  }
}

.portfolio-section{
  padding-top: 0rem!important;
  max-width: 100%;
}

.hr-main{
  border-top: .15rem solid $primary-red;
  margin-top: 12px;
  margin-bottom: 10px;
  width: 35.5%;
}
.card{
  border: none;
  border-radius: 0%;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  margin-top: 1em;
  margin-bottom: 1em;
  &:after{
    display: block;
    position: absolute;
    bottom: -.625rem;
    left: 1.25rem;
    width: calc(100% - 2.5rem);
    height: 2.1875rem;
    background-color: #fff;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    content: '';
    z-index: -1;
  }
  img{
    width: 100%;
    margin-bottom: 1em;
  }
}


// ====== MEDIA QUERIES
@include media-breakpoint-up(xs){
}

@include media-breakpoint-up(md){
}

@include media-breakpoint-up(lg){
  body{
    padding-top: 0;
  }
}
