.portfolio-section.p-lg-5#icons  
  .row.icon-row.ml-3.mr-3
    a(href="#")
      i(class=facebook_icon)
    a(href="#")
      i(class=twitter_icon)
    a(href="#")
      i(class=facebook_icon)
    a(href="#")
      i(class=twitter_icon)