nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='#')
    img(src='../styles/assets/logos/logo.png')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    // nav links lists
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#home') Home
      li.nav-item
        a.nav-link(href='#course') Course
      li.nav-item
        a.nav-link(href='#features') Features
      li.nav-item
        a.nav-link(href='#resources') Resources
      li.nav-item
        a.nav-link(href='#clients') Testimonial
      li.nav-item
        a.nav-link(href='#contact') Contact