nav.navbar.navbar-expand-md.fixed-top.navbar-dark
  .col-3.mt-2.order-md-2
    .row
      span.nav-caption 
        a(href="tel:9043475993") (904) 347 - 5993
  .col-6.col-md-2.order-md-1
    a.navbar-brand(href='#')
      img(src='../styles/assets/logos/logo.png')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse.order-md-3
    // nav links lists
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#home') Home
      li.nav-item
        a.nav-link(href='#services') Services
      li.nav-item
        a.nav-link(href='#certifications') What We Inspect
      li.nav-item
        a.nav-link(href='#pricing') Why Us?