nav.navbar.navbar-expand-md.fixed-top.navbar-dark
  a.navbar-brand(href='#')
    img(src='../styles/assets/logos/logo.png')
  .col-6.mt-3
    .row
      span.nav-caption 
        a(href="tel:9043475993") (904) 347 - 5993
    .row
      span.nav-caption lyoninspections@gmail.com
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive')
    span.navbar-toggler-icon
  #navbarResponsive.collapse.navbar-collapse
    // nav links lists
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#home') Home
      li.nav-item
        a.nav-link(href='#services') Services
      li.nav-item
        a.nav-link(href='#certifications') What We Inspect
      li.nav-item
        a.nav-link(href='#pricing') Why Us?