.container.photo-row-container
  .row.justify-content-center
    .col-4.p-0
      .d-block.mb-0.h-100
        img(src="../styles/assets/img/fishing1.jpg" class="img-fluid")
    .col-4.p-0
      .d-block.mb-0.h-100
        img(src="../styles/assets/img/fishing.jpg" class="img-fluid")
    .col-4.p-0
      .d-block.mb-0.h-100
        img(src="../styles/assets/img/fishing2.jpg" class="img-fluid")
