footer
  hr(class="socket")
  .row.justify-content-center
    .col-md-5.text-center.mt-3
      p.sub-text.mb-0 (206) 471-9205 <br> bengaubert@greenerealty.com
      a(href="#" target="_blank")
        i(class=facebook_icon)
      a(href="#" target="_blank")
        i(class=instagram_icon)
      a(href="#" target="_blank")
        i(class=twitter_icon)
      p &copy; Made by Michael