footer
  hr(class="socket")
  .row.justify-content-center
    .col-md-5.text-center.mt-3
      p.sub-text.mb-0 (904) 347 - 5993 <br> lyoninspections@gmail.com
      a(href="#" target="_blank")
        i(class=facebook_icon)
      a(href="#" target="_blank")
        i(class=instagram_icon)
      a(href="#" target="_blank")
        i(class=twitter_icon)